.l-header{

}
.l-header__inner{
}

.l-main{
}
.l-main.is-cp-footerNav{
    background: #fefef6;
}

.l-main__inner{
    max-width: 1080px;
    margin: 0 auto;
}
.l-main__inner.is-wide{
    max-width: initial;
}

.l-mt12{
    margin-top:12px;
}

.l-mt24{
    margin-top:24px;
}

.l-mt36{
    margin-top:36px;
}

.l-mt48{
    margin-top:48px;
}